* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

nav li {
    list-style: none;
    width: 120px;
    text-align: center;
}

li a p {
    color: grey;
    padding-top: 2px;
}

li a p:hover {
    color: white;
    background-color: rgb(56, 55, 55);
    border-radius: 5px;
    width: 120px;
    text-align: center;
    padding-top: 2px;
}

nav img {
    width: 80px;
    height: 80px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icon i:hover {
    color: blue;
}

.social-icon i {
    vertical-align: middle;
    font-size: 1.3em;
    color: grey;
    margin-left: 5px;
    margin-top: 22px;
}

.header-site {
    margin-bottom: 20px;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: 230vh;
    height: 300px;
    background-position: 50% 60%;
}

header div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.titulo {
    color: rgb(236, 162, 76, 0.7);
    background-color: rgb(138, 135, 135, 0.3);
    margin-top: 140px;
    margin-bottom: 0;
    padding-top: 20px;
    width: 70%;
    text-align: center;
    font-size: 2.2em;
}

section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.noticias {
    margin-right: 5px;
    background-color: rgb(202, 196, 196, 0.7);
}

.articulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article {
    background-color: rgb(250, 240, 240);
    margin: 10px;
    align-items: center;
}

article img {
    width: 37vw;
    height: auto;
    margin: auto;
    margin: 10px;
}

article p {
    text-align: center;
    padding: 10px;
}

article a {
    padding-bottom: 40px;
    font-size: 20px;
}

article h2 {
    margin-left: 10px;
    background-color: rgb(219, 159, 159);
    height: 40px;
    padding-left: 10px;
    font-size: 30px;
    margin-top: 0;
    margin-right: 10px;
}

article h4 {
    padding-left: 15px;
}

article div {
    display: flex;
    flex-direction: column;
}

aside {
    margin-left: 5px;
    background-color: rgb(202, 196, 196, 0.7);
    text-align: center;
}

aside p {
    padding: 10px;
}

div p {
    padding: 10px;
}

footer {
    background-color: rgb(202, 196, 196, 0.7);
}

footer p {
    text-align: center;
    background-color: rgb(250, 240, 240);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

@media (min-width: 481px) and (max-width: 1024px) {
    section {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    aside {
        margin-top: 10px;
        background-color: rgb(202, 196, 196, 0.7);
        text-align: center;
        margin-left: 0;
    }
    .noticias {
        margin-right: 0px;
        background-color: rgb(202, 196, 196, 0.7);
    }
    article img {
        width: 45vw;
        height: auto;
        margin: auto;
        margin: 10px;
    }
    .fas {
        display: none;
    }
    .titulo {
        color: rgb(236, 162, 76, 0.7);
        background-color: rgb(138, 135, 135, 0.3);
        margin-top: 140px;
        margin-bottom: 0;
        padding-top: 20px;
        width: 70%;
        text-align: center;
        font-size: 1.8em;
    }
}

@media (min-width: 120px) and (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
        width: 100%;
    }
    li a p:hover {
        color: white;
        background-color: rgb(56, 55, 55);
        border-radius: 5px;
        width: 400px;
        padding-top: 2px;
        margin-left: 0;
    }
    li a p {
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: gray;
        width: 400px;
        border-radius: 5px;
        color: white;
    }
    .titulo {
        color: rgb(236, 162, 76, 0.7);
        background-color: rgb(138, 135, 135, 0.3);
        margin-top: 140px;
        margin-bottom: 0;
        padding-top: 20px;
        width: 70%;
        text-align: center;
        font-size: 1.5em;
    }
    section {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    .noticias {
        margin-right: 0px;
        background-color: rgb(202, 196, 196, 0.7);
    }
    aside {
        margin-top: 10px;
        background-color: rgb(202, 196, 196, 0.7);
        text-align: center;
        margin-left: 0;
    }
    .articulos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    article img {
        width: 82vw;
        height: auto;
        margin: 10px;
    }
    nav li {
        list-style: none;
        width: auto;
        text-align: center;
    }
    nav img {
        margin-bottom: 20px;
    }
}